/* подключение локальный шрифтов на страницу */
@font-face {
	font-family: 'Anonymous Pro';
	src: url(fonts/AnonymousPro-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	display: swap;
}

* {
	box-sizing: border-box;
}

/* сброс стилей по умолчанию */
body,
h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}

/* задание шрифта всей странице */
body {
	font-family: 'Anonymous Pro', sans-serif;
}

/* стили для главного контейнера */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f1f1f1;
}

/* стили для хедера(шапки) сайта */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #a1a6b4;
	background: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 24px 0;
}

.logo-link {
	max-width: 215px;
}

/* стили для ссылок в хедере и футере */
nav {
	display: flex;
}

.nav-list {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 24px;
}

.nav-item {
	display: inline;
}

.nav-link {
	color: #121723;
	font-size: 20px;
	font-weight: 700;
}

/* стили для  */
.content {
	margin: 32px 0;
	max-width: 1140px;
}

h1 {
	font-size: 48px;
}

/* стили для контейнера кроссовок */
.sneakers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 24px;
	margin: 32px 0 0;
}

/* стили для карточки кроссовок */
.sneaker {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 364px;
	height: 100%;
	border-radius: 12px;
	transition: all 0.25s ease-out;
	background: white;
}
.sneaker:hover {
	transform: translateY(-10px);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sneaker_link {
	color: black;
}
.sneaker-image {
	width: 100%;
}

.sneaker-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
	padding: 32px 24px;
}

h3 {
	font-size: 26px;
}

p {
	font-size: 20px;
}

footer {
	width: 100%;
	background: #121723;
}
.footer_content_copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* стили для футера */
.footer-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: 32px 0;
}

.footer__logo-link {
	max-width: 300px;
	width: 100%;
}

footer .nav-link {
	color: white;
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1140px;
	border-top: 1px solid #a1a6b4;
}

.copyright-text {
	color: #a1a6b4;
	font-size: 16px;
	font-weight: 700;
	margin: 24px 0px;
}
@media screen and (max-width: 1170px) {
	.header-container {
		margin: 24px 16px;
	}
	h1 {
		margin: 0px 16px;
	}
	.sneaker {
		margin: 0 16px;
	}
	.footer_content_copyright {
		margin: 0px 16px;
	}
}
@media screen and (max-width: 800px) {
	h1 {
		font-size: 40px;
	}
}
@media screen and (max-width: 630px) {
	.header-container {
		align-items: center;
		flex-direction: column;
	}
	h1 {
		font-size: 32px;
		margin: 0px 16px;
	}
	.logo-link {
		margin-bottom: 24px;
	}
	.footer-content {
		align-items: center;
		flex-direction: column;
	}
	.footer__logo-link {
		margin-bottom: 32px;
	}
	.footer-content {
		margin: 32px 0px 24px;
	}
}
@media screen and (max-width: 375px) {
	.sneaker {
		max-width: 343px;
	}
}

/* cross1 styles */

.card {
	display: flex;
	max-width: 1140px;
	padding: 48px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	border-radius: 50px;
	background: #fff;
}
.card_image {
	max-width: 1044px;
}
.card_name {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

.card_info {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	align-self: stretch;
	line-height: 100%;
}
.card_textinfo {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}
.card_divtextinfo {
	height: auto;
	width: 506px;
}
.main_card_textinfo {
	display: flex;
	gap: 0px 32px;
}
.card_text_biginfo2 {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.card_divtextinfo2 {
	height: auto;
	width: 506px;
}
.card_text_smallinfo {
	color: #121723;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 24px 0px;
	margin: 0;
	border-bottom: 1px solid black;
}
.card_text_smallinfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media screen and (max-width: 375px) {
	.main_card_textinfo {
		display: flex;
		flex-direction: column;
	}
	.card {
		display: flex;
		align-items: center;
		padding: 24px;
		margin: 0px 16px;
		border-radius: 12px;
		gap: 0px;
	}
	.card_image {
		width: 292px;
		height: 175px;
	}
	.card_divtextinfo2 {
		width: 295px;
	}
	.card_divtextinfo {
		width: 295px;
	}
	.card_name {
		font-size: 32px;
		margin: 32px 0px 24px;
	}
	.card_textinfo {
		color: #121723;
		font-family: Anonymous Pro;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		margin-bottom: 32px;
	}
	.card_info {
		font-size: 20px;
		margin-bottom: 24px;
	}
	.card_text_biginfo2 {
		font-size: 24px;
	}
	.card_text_smallinfo {
		font-size: 16px;
	}
}

.fakediv {
	display: flex;
	justify-content: center;
}
